@using CvYarat.Models
@using CvYarat.Data.Enums
@model WorkExperience
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div>
        <h6><a href="/WorkExperience/ListOfWorkExperience">İş təcrübəniz</a></h6>
        <form class="form-group" asp-action="AddWorkExperience" asp-controller="Work" method="post">


            <label>Müəssisə adı </label><br /><br />
            @Html.TextBoxFor(x => x.InstitutionName, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(x => x.InstitutionName, "", new { @class = "text-danger" })<br />

            <label>Öhtəliyiniz</label><br /><br />
            @Html.TextBoxFor(x => x.Commitment, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(x => x.Commitment, "", new { @class = "text-danger" })<br />


            <label>Başlama tarixi</label><br /><br />
            @Html.TextBoxFor(x => x.BeginDate, new { type = "date", @class = "form-control" })<br />
            @Html.ValidationMessageFor(x => x.BeginDate, "", new { @class = "text-danger" })<br />


            <label>Bitmə tarixi</label><br /><br />
            @Html.TextBoxFor(x => x.EndDate, new { type = "date", @class = "form-control" })<br />


            <label>İşdən ayrılma səbəbiniz</label><br /><br />
            @Html.TextBoxFor(x => x.ReasonForDismissal, new { @class = "form-control" })<br />


            <label>Pozisyanız</label><br /><br />
            @Html.TextBoxFor(x => x.PositionName, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(x => x.PositionName, "", new { @class = "text-danger" })<br />


            <label>İşinizlə bağlı əlavə bilik və bacarıqlarınız</label><br /><br />
            @Html.TextBoxFor(x => x.KnowledgesAndSkills, new { @class = "form-control" })<br />


            <label>Deportament</label><br /><br />
            @Html.DropDownListFor(x => x.DeportamentId, (List<SelectListItem>)ViewData["Dprtmnt"], "--Seçin--", new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(x => x.DeportamentId, "", new { @class = "text-danger" })<br />


            <label>Hazırda qeyd etiyiniz işdə işləyirsiniz?</label><br /><br />
            @Html.DropDownListFor(x => x.Status, new SelectList(Enum.GetValues(typeof(JobStatus))), "--Seçin--", new { @class = "form-control" })<br />

            <input type="submit" class="btn btn-success" value="Yadda saxla">

        </form>
    </div>
</body>
</html>
